.scroll-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  transition: 0.3s all ease-in-out;
  background-color: #4d9078;
}

.scroll-to-top:hover {
  animation-duration: 0.85s;
  animation-name: changesize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changesize {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@media screen and (max-width: 800px) {
  .scroll-to-top {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }
}
