.project {
  max-width: 40%;
  margin-bottom: 6rem;
  padding-bottom: 1rem;
  border: 2px solid #4d9078;
  border-radius: 1rem;
  overflow: hidden;
}

.project:hover {
  border: 2px solid #fff09c;
}

.project-title {
  font-size: 2rem;
  /* font-weight: 500; */
  margin: 0.5rem 0;
  text-decoration: underline;
  text-decoration-color: #4d9078;
}

.project-image {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateY(-100%);
}

.project-description {
  font-size: 1.2rem;
  min-height: 4rem;
  padding: 0.5rem;
  line-height: 1.4;
}

.project-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tech-desc {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.tech-icon-wrapper {
  /* background-color: white; */
  /* padding: 0.15rem; */
  border: 2px solid #4d9078;
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.25rem;
  object-fit: contain;
}

.project-buttons {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.project-buttons button {
  padding: 0.5rem;
}

@media screen and (max-width: 950px) {
  .project {
    max-width: 100%;
  }
}
