.skills {
  padding: 4rem 0 6rem 0;
}

.skills-hr {
  background-color: #4d9078;
  width: 70%;
  margin: 3.5rem auto;
  height: 1rem;
  border-radius: 1rem;
}

.skills-title {
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4d9078;
  transition: all 0.5s ease;
}

.skills-title:hover {
  color: red;
}

.skills-category {
  font-size: 2rem;
  margin: 3rem 2rem;
  text-decoration: underline;
  text-decoration-color: #4d9078;
  width: 14rem;
}

.skills-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.skills-list {
  display: flex;
  padding: 1rem 4rem;
}

@media screen and (max-width: 800px) {
  .skills-category {
    margin: 1rem 0;
    width: 100%;
  }

  .skills-wrapper {
    justify-content: center;
  }

  .skills-list {
    flex-direction: column;
    text-align: center;
  }
}
