.about {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.about-left {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-right {
  flex: 3;
  margin-right: 4rem;
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #4d9078;
  z-index: 1;
}

.about-card {
  width: 60%;
  height: 60vh;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 2;
  transition: all 0.2s ease-out;
}

.about-card:hover {
  transform: rotate(-10deg);
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-title {
  font-size: 2rem;
  margin: 1rem 0 2.5rem 0;
}

.about-title span {
  text-decoration: underline;
  text-decoration-color: #4d9078;
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.5rem;
  transition: all 0.5s ease;
}

.about-title span:hover {
  color: red;
}

.about-desc {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 1rem 0;
  line-height: 1.4;
}

@media screen and (max-width:1000px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-title span{
    display: block;
  }

  .about-card.bg {
    display: none;
  }

  .about-card {
    height: 40vh;
    width: 80%;
    margin: 1rem;
  }

  .about-right {
    padding: 0 1.5rem;
    margin-right: 0;
  }
}

@media screen and (max-width:480px) {
  .about-left {
    width: 100%;
  }

  .about-card {
    height: 35vh;
  }
}
