.contact {
  height: 100vh;
  position: relative;
}

.contact-bg {
  width: 2rem;
  height: 100vh;
  background-color: #4d9078;
  position: absolute;
}

.contact-wrapper {
  display: flex;
  height: 100%;
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.contact-title {
  font-size: 4rem;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #4d9078;
  transition: all 0.5s ease;
}

.contact-title:hover {
  color: red;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  font-weight: 300;
  width: 70%;
}

.contact-icon {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
}

.link {
  transition: all 0.3s;
}

.link:hover {
  transform: scale(1.1);
}

.contact-desc {
  width: 100%;
}

input {
  width: 60%;
  height: 3.5rem;
  border: none;
  margin: 0.75rem 0;
  font-size: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

textarea {
  width: 90%;
  margin: 0.75rem 0;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

button {
  border: none;
  padding: 0.5rem;
  background-color: #4d9078;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #136649;
}

.contact-sent {
  color: red;
}

.dark::placeholder {
  color: pink
}

@media screen and (max-width: 600px) {
  .contact-wrapper {
    flex-direction: column;
    height: 90%;
  }

  .contact-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .contact-title {
    font-size: 2rem;
  }

  .contact-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  input {
    height: 2.5rem;
  }

  .contact-bg {
    width: 1rem;
  }
}
