.intro {
  display: flex;
  height: 100vh;
}

.intro-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d9078;
}

.intro-left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2c14e;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 22px;
  color: black !important;
  z-index: 2;
}

.intro-greeting {
  font-size: 3rem;
  font-weight: 300;
}

.intro-name {
  font-size: 5rem;
  font-weight: 500;
}

.intro-title {
  align-items: center;
  /* width: 12rem; */
  overflow: hidden;
  display: flex;
}

.intro-title-start {
  font-size: 1.25rem;
  font-weight: 300;
  margin-right: 1rem;
}
/* 
.intro-title-wrapper {
  display: flex;
  animation: move 12s ease infinite alternate;
}

@keyframes move {
  50% {
    transform: translateX(-12rem);
  }

  100% {
    transform: translateX(-24rem);
  }
}

.intro-title-item {
  margin: 0 0.5rem;
  width: 12rem;
  font-size: 2rem;
  box-shadow: 1pt solid black;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.i1 {
  color: #4d9078;
}

.i2 {
  color: #e26729;
}

.i3 {
  color: #6596ce;
} */

.hidden {
  opacity: 0;
}

.console-container {
  font-size: 2rem;
  color: #4d9078;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.intro-right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-right-bg {
  clip-path: polygon(0% 0%, 60% 0%, 100% 50%, 60% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  background-color: #4d9078;
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: -1; */
}

.intro-right-image {
  max-width: 40%;
  z-index: 99;
}

@media screen and (max-width: 1000px) {
  .intro-greeting {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .intro-name {
    font-size: 3rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }

  .intro-left-wrapper {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .intro-title {
    justify-content: center;
  }
}