body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2c14e;

}

input, textarea {
  font-family: 'Ubuntu', sans-serif;
}

.App {

}

